.history__form {
	position: relative;
	top: -2rem;
	display: flex;
	align-items: center;
	background: var(--color-white);
	padding: 0.75rem 0;
	border: 1px solid var(--color-gray-300);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	color: var(--color-primary-mint3);
	width: 984px;
	margin: 0 auto;
}

.box23 {
	flex: 1 1 23%;
}

.box18 {
	flex: 1 1 18%;
}

.history__form--submit {
	padding: 0.375rem;
	border: 2px solid var(--color-primary-mint1);
	background-color: var(--color-primary-mint1);
	border-radius: 10px;
	margin: 0 1rem;
}

.history__form--submit path {
	stroke: var(--color-white);
}

.history__form--submit:disabled {
	background-color: transparent;
}
.history__form--submit:disabled path {
	stroke: var(--color-primary-mint1);
}

.history__form label {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	position: relative;
	border-right: 1px solid var(--color-gray-300);
	padding: 0 1.5rem;
}

.history__form input {
	cursor: pointer;
}

.history__form input:not(.history__form-income-toggle) {
	width: 100%;
}
.history__form input::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

.history__form label[for='historyPaymentMethod'],
.history__form label[for='historyCategory'] {
	position: relative;
}

.history__form label .history__form-dropdown {
	overflow: hidden;
	position: absolute;
	display: none;
	width: 100%;
	top: 5rem;
	left: 0;
	background: var(--color-white);
	border: 1px solid var(--color-gray-200);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.history__form label .history__form-dropdown.show {
	display: block;
}

.payment-method-delete::after {
	content: 'X';
}

.history__form:not(.income-mode)
	label
	.history__form-dropdown
	li[data-is-income='1'] {
	display: none;
}

.history__form.income-mode
	label
	.history__form-dropdown
	li[data-is-income='0'] {
	display: none;
}

.history__form label .history__form-dropdown li {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--color-gray-200);
	color: var(--color-black);
}

.history__form label .history__form-dropdown li:hover {
	background-color: var(--color-gray-100);
}

.history__form label .history__form-dropdown li:last-child {
	border: none;
}

.history__form label .history__form-dropdown li span {
	flex: 1 1 100%;
}

.history__form label input {
	background: var(--color-white);
}

.history__form label .arrow {
	position: absolute;
	right: 2rem;
	bottom: 0.25rem;
	display: block;
	width: 1rem;
	height: 1rem;
	transform: rotate(-90deg);
	margin: 0;
}

.history__form label .arrow svg {
	width: 100%;
	height: 100%;
}

.history__form label .arrow path {
	stroke: var(--color-gray-400);
}

.history__form label > span {
	margin-bottom: 0.5rem;
}

.history__form label:last-of-type {
	border: none;
	padding-right: 0;
	margin-right: 0;
}

.history__form-price-container {
	display: flex;
	align-items: center;
	color: var(--color-black);
}

.history__form-income-toggle {
	appearance: none;
	position: relative;
	width: 2.5rem;
	height: 1.5rem;
}

.history__form-income-toggle::after {
	content: '';
	position: absolute;
	transform: translate(-50%, -50%);
	width: 0.75rem;
	height: 2px;
	top: 50%;
	left: 50%;
	background-color: var(--color-black);
}

.history__form-income-toggle:checked::before {
	content: '';
	position: absolute;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 0.75rem;
	top: 50%;
	left: 50%;
	background-color: var(--color-black);
}

.history__form-price-container span {
	padding-bottom: 4px;
}

.history__form-price {
	text-align: right;
	padding-right: 0.5rem;
}
